


#tacticsOnTheLineLabel {
    -fx-text-fill: #f5f5b9;
    -fx-font-size: 80px;
}

#mainMenuElement {
    -fx-text-fill: #f5f5b9;
    -fx-font-size: 45px;
    -fx-font-family: "TubeOfCorn";
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
}

#mainMenuElement:hover {
    -fx-text-fill: #dbff4d;
}

#defaultBackground {
    -fx-background-color: #a3f3ff;
    -fx-font-family: "TubeOfCorn";
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
}

#characterNameLabel {
    -fx-font-size: 45px;
    -fx-font-family: "TubeOfCorn";
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
}

#abilityNameLabels:hover {
    -fx-text-fill: #dbff4d;
}

#fancyNode {
    -fx-font-size: 16px;
    -fx-font-family: "TubeOfCorn";
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
}

#fancyNode:hover {
    -fx-text-fill: #dbff4d;
}

#normalNode {
    -fx-font-size: 16px;
    -fx-font-family: Gill Sans Extrabold, sans-serif;
}

